<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>@Page.Title</title> <!--This is what shows on the tab, add this to every view-->
</head>
<body>
    <!--Begin navigation bar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Challenge Enterprises", "Index", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <!--Dashboard-->
                <li class="active">@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                <li>@Html.ActionLink("New Hires", "Index", "NewHiresReport")</li>
                <li>@Html.ActionLink("Quarterly", "Index", "QuarterlyReport")</li>
                <li>@Html.ActionLink("Raises & Transfers", "Index", "RTReport")</li>
                <li>@Html.ActionLink("Sales", "Index", "SalesReport")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>Add a User</a></li>
            </ul>
        </div>
    </nav> 
    <!--End navigation bar-->
    <div>
        @RenderBody() <!--DO NOT DELETE THIS! WILL NOT COMPILE WITHOUT THIS STATEMENT.-->
    </div>
</body>
</html>
